{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="hero">
        <p><a href="{% url 'tourlist:indexone' %}"><button type="submit"><h3>통합</h3></button></a>
        <li>관광지 리스트1</li>
        <li>관광지 리스트2</li>
        <li>관광지 리스트3</li></p>
        <p><a href="{% url 'tourlist:indextwo' %}"><button type="submit"><h3>관심 장소</h3></button></a>
        <li>관광지 리스트1</li>
        <li>관광지 리스트2</li>
        <li>관광지 리스트3</li></p>
        <p><a href="{% url 'tourlist:indexthree' %}"><button type="submit"><h3>특징</h3></button></a>
        <li>관광지 리스트1</li>
        <li>관광지 리스트2</li>
        <li>관광지 리스트3</li></p>
    </div>    
</div>
{% endblock %}

<!-- <a href="{% url 'classification:index' %}"><button type="submit">제출하기</button></a> -->