{% extends 'base.html' %}
{% block content %}
<style>
    /* @font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url("https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13333620&filePath=L2Rpc2sxL25ld2RhdGEvMjAyMy8zMC9DTFMxMDAwOS9kYjA2ZTkzYS04ZGQ1LTQxNzAtOWRjNS0xYTAwMWU0NTQ5N2E=&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10009") format('HakgyoansimWoojuR');
    font-weight: normal;
    font-style: normal;
    } */
    
    html, body {
        margin: 0;
    }

    .main{
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background: #e3f2fd;
        padding: 0;
        margin: 0;
    }

    .main .hero{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main .hero h2{
        font-size: 70px;
        margin-bottom: 20px;
    }

    .main .hero p{
        font-size: 25px;
    }

    .main .hero button{
        background: none;
        border: 2px solid skyblue;
        color: black;
        padding: 15px 20px;
        border-radius: 20px;
        margin-top: 30px;
        outline: none;
        cursor: pointer;
        transition: all .4s;
        
    }

    .main .hero button:hover{
        background-color: skyblue;
        box-shadow: 3px 2px 5px 1px rgb(0 0 0 / 20%);
    }
</style>

<div class="main">
    <div class="hero">
        <h2 style="font-family: font1;">관광지 추천 서비스</h2>
        <p>3조 투어</p>
        <a href="{% url 'survey:index' %}"><button>시작하기!</button></a>
    </div>    
</div>
{% endblock %}




<!-- <div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'gttour:detail' question.id %}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div> -->


<!-- {% if question_list %}
    <ul>
    {% for question in question_list %}
        <li><a href="{% url 'gttour:detail' question.id %}">{{ question.subject }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>질문이 없습니다.</p>
{% endif %} -->