{% extends 'base.html' %}
{% block content %}
<style>
    html, body {
        margin: 0;
    }

    .main{
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background: #e3f2fd;
        padding: 0;
        margin: 0;
    }

    .main .hero{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main .hero h2{
        font-size: 60px;
        margin-bottom: 20px;
    }

    .main .hero p{
        font-size: 25px;
    }

    .main .hero button{
        background: none;
        border: 2px solid skyblue;
        color: black;
        padding: 15px 20px;
        border-radius: 20px;
        margin-top: 30px;
        outline: none;
        cursor: pointer;
        transition: all .4s;
    }

    .main .hero button:hover{
        background-color: skyblue;
        box-shadow: 3px 2px 5px 1px rgb(0 0 0 / 20%);
    }
    
    .link {
        color: black;
        font-size: 1.2em;
        padding: 0.3em 0.5em;
        margin-right: 0.1em;
        font-family: 'font1';
        text-decoration: none;
    }

    .link:hover {
        color: skyblue;
    }

</style>

<meta charset="UTF-8">
<div class="main">
    <div class="hero">
        <h4 style="font-family: font1;">다음 목록은 관심 장소 기반 추천 여행지에요</h4><br>
        <div style="width:800px; height:450px; border:1px solid skyblue; border-radius: 20px; float:right; margin-right:20px;">
            <button type="submit" style="font-family: font3;"><h5>키워드맵</h5></button>
            <button type="submit" style="font-family: font3;"><h5>관광지</h5></button>
            <button type="submit" style="font-family: font3;"><h5>긍정</h5></button>
            <button type="submit" style="font-family: font3;"><h5>부정</h5></button>
            
            <div style="width:200px; height:450px; border-right:1px solid skyblue; float:left; margin-right:20px;"><br>
            <br>
            <h6 style="font-family: font1; font-size: 20px;">지역을 선택하세요</h6>
            <br>
            <!-- <a href="{% url 'tourlist:deslist1' %}" class="link"><li>{{ destination_data_list.0.location }}</li></a> -->
            <a href="{% url 'tourlist:deslist2' %}" class="link"><li>{{ destination_data_list.1.location }}</li></a>
            <a href="{% url 'tourlist:deslist3' %}" class="link"><li>{{ destination_data_list.2.location }}</li></a>
            <a href="{% url 'tourlist:deslist4' %}" class="link"><li>{{ destination_data_list.3.location }}</li></a>
            <a href="{% url 'tourlist:deslist5' %}" class="link"><li>{{ destination_data_list.4.location }}</li></a>
        </div>
    </div>
</div>
{% endblock %}