{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="hero">
        <h4>다음 목록은 통합 여행지에요</h4><br>
        <div style="width:180px; height:450px; border:1px solid #e3f2fd; float:left; padding:10px; text-align: left;"><br>
            <li> 관광지 리스트1</li>
            <li> 관광지 리스트2</li>
            <li> 관광지 리스트3</li>
            <li> 관광지 리스트4</li>
            <li> 관광지 리스트5</li>
        </div>
        <div style="width:580px; height:450px; border:1px solid #e3f2fd; float:right;">
            <button type="submit"><h5>키워드맵</h5></button>
            <button type="submit"><h5>관광지</h5></button>
            <button type="submit"><h5>...</h5></button>
        </div>
    </div>    
</div>
{% endblock %}